<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <system.webServer> 
         <rewrite>
			            <rules>
			<rule name="IP Canonicalization ">
				<match url="(.*)" ignoreCase="true" />
				<conditions>
					<add input="{HTTP_HOST}" pattern="^182\.50\.132\.58" />
						   <add input="{HTTP_HOST}" pattern="^mittalelanza\.com" />			 
				</conditions>
				<action type="Redirect" url="http://mittalelanza.com/{R:1}" redirectType="Permanent" />
			</rule>
            </rules>
		</rewrite>
        
    </system.webServer>
</configuration>